<div class="selection">
  <div class="row">
    <div class="fusee"><img src="./assets/img/fusee.png" /></div>
    <h2>
      Choisis<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>ton</span>domaine
    </h2>
    <div class="aliens hidden-xs">
      <img src="./assets/img/aliens.png" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class="selectufr" data-id="0" (tap)="goToGameScreen('0')">
        <p style="position: relative; top: 3px">
          Lettre <span>et</span> Sciences Humaines
        </p>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="selectufr" data-id="1" (tap)="goToGameScreen('1')">
        <p style="position: relative; top: 7px">
          Médecine<br />Sciences <span>de la </span>Santé
        </p>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="selectufr" data-id="2" (tap)="goToGameScreen('2')">
        <p>
          Sciences<br />
          Technologie
        </p>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="selectufr" data-id="3" (tap)="goToGameScreen('3')">
        <p>
          Sciences<br />
          de la Mer
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1">
      <div class="selectufr" data-id="4" (tap)="goToGameScreen('4')">
        <p style="position: relative; left:-3px; top: 7px">IUT</p>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="selectufr" data-id="5" (tap)="goToGameScreen('5')">
        <p>Sports<br />Science <span>de </span><br />l'Éducation</p>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="selectufr" data-id="6" (tap)="goToGameScreen('6')">
        <p>Droit<br />Économie<br />Gestion</p>
      </div>
    </div>
  </div>
  <!-- <div class="row" style="color: white;">
    <p>{{debug}}</p>
  </div> -->
  <div class="astre"><img src="./assets/img/astre.png" /></div>
</div>
